<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IA - AlphaBeta - Puissance 4 - NEFFAR</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <style>
        th, td {
            border: solid 2px mediumblue;
        }
    </style>

</head>

<body>

<header>
    <div class="jumbotron text-center row">
        <div class="col-md-3"><img width="180" height="50" th:src="@{/images/eilco.png}" alt="eilco"/></div>
        <div class="col-md-6"><h3>IA - AlphaBeta - Puissance 4</h3></div>
        <div class="col-md-3"><img width="180" height="50" th:src="@{/images/ulco.png}" alt="ulco"/></div>
    </div>
</header>

<div class="container" style="margin-bottom: 1em;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group text-center">
                <label for="dif">Difficulté : (Facile = 4 par défaut)</label>
                <select class="custom-select" id="dif">
                    <option th:selected="${p=='4'}" th:value="4">Facile</option>
                    <option th:selected="${p=='6'}" th:value="6">Moyen</option>
                    <option th:selected="${p=='8'}" th:value="8">Difficile</option>
                </select>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">

        <div class="text-secondary text-center col-md-2">
            MACHINE <br/>
            <i class="fas fa-circle fa-3x" style="color: yellow"></i>
        </div>

        <div class="col-md-8">
            <div class="text-secondary text-center">Veillez choisir la colonne à jouer</div>
            <div id="resultsBlock">
                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <button id="col_1" class="btn btn-info" type="button" onclick="clickOnCol('0')">Col #1
                            </button>
                        </th>
                        <th scope="col">
                            <button id="col_2" class="btn btn-info" type="button" onclick="clickOnCol('1')">Col #2
                            </button>
                        </th>
                        <th scope="col">
                            <button id="col_3" class="btn btn-info" type="button" onclick="clickOnCol('2')">Col #3
                            </button>
                        </th>
                        <th scope="col">
                            <button id="col_4" class="btn btn-info" type="button" onclick="clickOnCol('3')">Col #4
                            </button>
                        </th>
                        <th scope="col">
                            <button id="col_5" class="btn btn-info" type="button" onclick="clickOnCol('4')">Col #5
                            </button>
                        </th>
                        <th scope="col">
                            <button id="col_6" class="btn btn-info" type="button" onclick="clickOnCol('5')">Col #6
                            </button>
                        </th>
                        <th scope="col">
                            <button id="col_7" class="btn btn-info" type="button" onclick="clickOnCol('6')">Col #7
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:each="element : ${matrix[0]}">
                            <i th:if="${element == 0}" class="fas fa-circle fa-3x" style="color: white"></i>
                            <i th:if="${element == 1}" class="fas fa-circle fa-3x" style="color: yellow"></i>
                            <i th:if="${element == 2}" class="fas fa-circle fa-3x" style="color: red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="element : ${matrix[1]}">
                            <i th:if="${element == 0}" class="fas fa-circle fa-3x" style="color: white"></i>
                            <i th:if="${element == 1}" class="fas fa-circle fa-3x" style="color: yellow"></i>
                            <i th:if="${element == 2}" class="fas fa-circle fa-3x" style="color: red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="element : ${matrix[2]}">
                            <i th:if="${element == 0}" class="fas fa-circle fa-3x" style="color: white"></i>
                            <i th:if="${element == 1}" class="fas fa-circle fa-3x" style="color: yellow"></i>
                            <i th:if="${element == 2}" class="fas fa-circle fa-3x" style="color: red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="element : ${matrix[3]}">
                            <i th:if="${element == 0}" class="fas fa-circle fa-3x" style="color: white"></i>
                            <i th:if="${element == 1}" class="fas fa-circle fa-3x" style="color: yellow"></i>
                            <i th:if="${element == 2}" class="fas fa-circle fa-3x" style="color: red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="element : ${matrix[4]}">
                            <i th:if="${element == 0}" class="fas fa-circle fa-3x" style="color: white"></i>
                            <i th:if="${element == 1}" class="fas fa-circle fa-3x" style="color: yellow"></i>
                            <i th:if="${element == 2}" class="fas fa-circle fa-3x" style="color: red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="element : ${matrix[5]}">
                            <i th:if="${element == 0}" class="fas fa-circle fa-3x" style="color: white"></i>
                            <i th:if="${element == 1}" class="fas fa-circle fa-3x" style="color: yellow"></i>
                            <i th:if="${element == 2}" class="fas fa-circle fa-3x" style="color: red"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-secondary text-center col-md-2">
            VOTRE MAJESTÉ <br/>
            <i class="fas fa-circle fa-3x" style="color: #ff0000"></i>
        </div>

    </div>
</div>

<footer class="container">
    <p class="text-center text-secondary">EILCO - Soufiane NEFFAR - 01/05/2020</p> <br/>
</footer>


<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/requestJs.js}"></script>

</body>
</html>